/*global page properties*/
body {
    font-family: 'PT Sans', sans-serif;
}

/*larger heading text*/
h1, h5, h3 {
    text-align: center;
    color: #02356a;
}


/*all paragraphed sized text*/
p {
    text-align: center;
    color: #02356a;
}


/*specific to the home div*/
.home {
    text-align: center;
}

/*specific to the job search div*/
.jobs {
    text-align: center;
}

/*specific to divs for all sections on the right side*/
.jobs, .about, .contact, .home, .faq {
    padding: 5%;
    margin: auto;
    width: 70%;
    float: right;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

/*jobs dropdown button positions*/
#jobs #jobs-alphabetical, #jobs #jobs-amounts {
    padding: inherit;
    margin: auto;
} 

.jobs-alpha-filter {
    background: rgba(76, 175, 80, 0.3);
    height: 100%;
    
}

/*jobs modal */
.jobs-modal {
    display: none; /*hidden by default*/
    z-index: 4; /*sit on top*/
    width: 100%; /*full width*/
    height: 100%; /*full height*/
    overflow: auto; /*enable scroll if needed*/
    box-shadow: 20px 20px 15px #888888;
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    margin: 5%;
    border-radius: 20px;
}

/*alpha modal header*/
.alpha-modal-header {
    padding: 2px 16px;
    background-color: #81aef1;
    color: white;
}

/*alpha modal body*/
.alpha-modal-body {
    padding: 2px 16px;
}

/*alpha modal content*/
.alpha-modal-content {
    position: relative;
    background-color: #f1e9e7;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: auto;
}

/*list of companies in alphabetical order*/
.alpha-list-container {
    padding: 5%;
    font-weight: bold;
    font-size: 20px;
}

/*alpha modal footer*/
.alpha-modal-footer {
    padding: 2px 16px;
    margin: auto;
    width: auto;
    background-color: #81aef1;
    color: white;
    cursor: pointer;
}

/*the jobs alpha close button*/
.jobs-alpha-close {
    color: #f1e9e7;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.jobs-alpha-close:hover,
.jobs-alpha-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*alphabetical company list button location
#jobs-alphabetical {
    float: left;
}*/

/*amount of company contacts button location
#jobs-amounts {
    float: right;
}*/

/*job search dropdown buttons*/
.btn-alpha, .btn-amt {
    background-color: #164f9c;
    border: none;
    color: whitesmoke;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: auto;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

/*job search dropdown buttons color change*/
.btn-alpha:hover, .btn-amt:hover, #btn-alpha:focus, #btn-amt:focus {
    background-color: #4CAF50; /* Green */
    color: white;
}

/*job search drop down content inside*/
.alpha-content, .amt-content {
    position: relative;
    display: inline-block;
}

/*job search drop down content hidden by default*/
.alpha-content, .amt-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    background-color: #f1e9e7;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*links inside job search dropdowns*/
.alpha-content a, .amt-content a {
    color: #02356a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*color change of job search dropdown links*/
.alpha-content a:hover, .amt-content a:hover {
    background-color: #f1e9e7;
}

/*show job search drop down menus on click*/
.alpha, .amt {
    display: block;
}

/*job results div*/
#jobs-results {
    margin: auto;
    padding: 100px;
    
}

/*search result preview window*/
#result-preview {
    
}

/*purchase button*/
#purchase {
    background-color: #164f9c;
    border: none;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

/*purchase button color change*/
#purchase:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

/*the word "Menu" in the menu bar*/
#menu {
    font-size: 30px;
    color: whitesmoke;
}

/*side menu*/
ul, .menu {
    list-style-type: none;
    overflow: auto;
    position: fixed;
    padding: 0;
    margin: 0;
    width: 15%;
    background-color: #0b0f1a;
    height: 100%;
}

/*side menu*/
li a {
    color: lightgrey;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

/*side menu buttons*/
li a:hover {
    background-color: #164f9c;
}

/*side menu buttons*/
.active {
    background-color: #164f9c;
}

/*border lines between sections*/
.jobs, .about, .contact, .faq {
    border-right: solid #164f9c 2px;
    border-bottom: solid #164f9c 2px;
    margin: 10px;
}


table {border-collapse: collapse; width: 100%;}
  th, td {border: thin solid black; padding: 3px;}
  tr.head th, tr.head td {background-color: #EDEDED; border-bottom: 4px double black;}
  span.linetitle {font-weight: bold;}
  div.lineclass {font-style: italic;}
  .title, .result {width: 80%;}
  .notes {width: 15%;}