/*global page properties*/
body {
    font-family: 'PT Sans', sans-serif;
}


/*larger heading text*/
h5, h4, h3 {
    text-align: center;
    color: #02356a;
}


/*all paragraphed sized text*/
p {
    text-align: center;
    color: #02356a;
}

/*how to image*/
#how-img {
    width: 50em;
}


/*border lines between sections*/
.home, .jobs, .contact, .faq {
    border-bottom: solid #164f9c 2px;
    width: 50em;
}


/*specific to divs for all sections*/
.jobs, .contact, .home, .faq {
    padding-bottom: 5%;
    transition-timing-function: ease-in;
    transition: 0.2s;
    left: 0;
    right: 0;
    width: 60em;
    text-align: center;
    justify-content: center;
    align-self: center;
    margin: auto;
    margin-top: 15%;
    display: block;
}