/*global page properties*/
body {
    font-family: 'PT Sans', sans-serif;
}

/*larger heading text*/
h1, h5, h3 {
    text-align: center;
    color: #02356a;
}


/*all paragraphed sized text*/
p {
    text-align: center;
    color: #02356a;
}


/*specific to the home div*/
.home {
    text-align: center;
}

/*specific to the job search div*/
.jobs {
    text-align: center;
}

/*specific to divs for all sections on the right side*/
.jobs, .about, .contact, .home, .faq {
    padding: 60px;
    margin: auto;
    width: 75%;
    float: right;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

/*jobs dropdown button positions*/
#jobs #jobs-alphabetical, #jobs #jobs-amounts {
    padding: inherit;
    margin: auto;
} 

/*alphabetical company list button location*/
#jobs-alphabetical {
    float: left;
}

/*amount of company contacts button location*/
#jobs-amounts {
    float: right;
}

/*job search dropdown buttons*/
.btn-alpha, .btn-amt {
    background-color: #164f9c;
    border: none;
    color: whitesmoke;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: auto;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

/*job search dropdown buttons color change*/
.btn-alpha:hover, .btn-amt:hover, #btn-alpha:focus, #btn-amt:focus {
    background-color: #4CAF50; /* Green */
    color: white;
}

/*job search drop down content inside*/
.alpha-content, .amt-content {
    position: relative;
    display: inline-block;
}

/*job search drop down content hidden by default*/
.alpha-content, .amt-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    background-color: #f1e9e7;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*links inside job search dropdowns*/
.alpha-content a, .amt-content a {
    color: #02356a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*color change of job search dropdown links*/
.alpha-content a:hover, .amt-content a:hover {
    background-color: #f1e9e7;
}

/*show job search drop down menus on click*/
.alpha, .amt {
    display: block;
}

/*job results div*/
#jobs-results {
    margin: auto;
    padding: 100px;
    
}

/*search result preview window*/
#result-preview {
    
}

/*purchase button*/
#purchase {
    background-color: #164f9c;
    border: none;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

/*purchase button color change*/
#purchase:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

/*the word "Menu" in the menu bar*/
#menu {
    font-size: 30px;
    color: whitesmoke;
}

/*side menu*/
ul, .menu {
    list-style-type: none;
    overflow: auto;
    position: fixed;
    padding: 0;
    margin: 0;
    width: 15%;
    background-color: #0b0f1a;
    height: 100%;
}

/*side menu*/
li a {
    color: lightgrey;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

/*side menu buttons*/
li a:hover {
    background-color: #164f9c;
}

/*side menu buttons*/
.active {
    background-color: #164f9c;
}

/*border lines between sections*/
.jobs, .about, .contact, .faq {
    border-right: solid #164f9c 2px;
    border-bottom: solid #164f9c 2px;
    margin: 10px;
}